// Variable

// Charte Color
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$lightgrey: #eaeaea;

// background

$backgroud: #f6f6f6;
$gradient: linear-gradient(180deg, #ff99e2 0%, #9356dc 100%);
