// Start menu
.container {
  i {
    position: absolute;
    left: 26px;
    top: 22px;
    font-size: 22px;
  }
}
.banner img {
  width: 100%;
  object-fit: cover;
  height: 30vh;
}
// title-content
.principal {
  @include principal-content;

  &-title {
    position: relative;
    h1 {
      font-weight: 400;
      font-family: "Shrikhand", cursive;
    }
    .fa-heart {
      @include heart;
      top: 5px;
    }
    .fa-solid {
      @include solid-heart;
    }
  }
}
/*************** menus-items ******************/
.menus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 2rem;
  background-color: $backgroud;
  row-gap: 20px;
  column-gap: 40px;
  &-category {
    &_title {
      text-transform: uppercase;
      grid-column: 1/-1;
    }
    &_description {
      line-height: 1.5;
      padding: 1rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &_items {
      @include menusItems;
      &:hover .menus-category_check {
        margin-right: 0;
      }
      &:hover .menus-category_rotate {
        transform: rotate(0);
      }
    }
    h2 {
      font-weight: normal;
      @include border-bottom;
    }
  }
}

/********** Confirmation animation **********/

.menus {
  &-category {
    &_price {
      font-weight: 700;
      display: flex;
      align-items: flex-end;
      margin-left: auto;
      padding: 1rem;
    }
    &_check {
      @include check;
    }
    &_rotate {
      @include rotation-check;
    }
  }
  .wrapBtn {
    transition: all 300ms;
    grid-column: 1/-1;
    width: 100%;
    @include flexbox;
    .button {
      margin: 2rem;
      @include command;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
}
/*************** menusAppear animation ************/
.menus-category_items {
  @for $i from 1 through 9 {
    &:nth-child(#{$i}) {
      animation: menuAppear 1s * $i;
    }
  }
}
