// LOADING
@media screen and (max-width: 992px) {
  .loading {
    &-letters {
      color: $color-primary;
      font-size: 30px;
    }
  }
}

// NAVBAR

@media screen and (max-width: 992px) {
  header {
    @include header;
  }
}

// responsive location
@media screen and (max-width: 992px) {
  .location {
    @include locations;
    input {
      font-size: 18px;
      border: none;
      background-color: $lightgrey;
      text-align: center;
    }
  }
}
// responsive that suits you
@media screen and (max-width: 992px) {
  .explorer {
    @include reserves;

    h1 {
      margin: 0;
      font-weight: 900;
      font-size: 1.4rem;
    }
    p {
      font-size: medium;
      color: #595959;
      margin-bottom: 2rem;
    }
  }
}
// responsive how it works
@media screen and (max-width: 992px) {
  .works-list {
    @include work-list;
    &__card {
      @include shadow-works;
      @include works-items;
      .number {
        @include numbers;
      }
      i {
        @include works-icons;
      }
    }
  }
}
// Restaurants

// responsive restaurants
@media screen and (max-width: 992px) {
  .restaurants {
    padding: 10px;

    &_articles {
      display: grid;
      grid-template-columns: 1fr;
      padding: 0;
      row-gap: 0px;
      text-align: inherit;
      h2 {
        font-size: 20px;
      }
    }
    &_article {
      &_img {
        @include shadow-works;
        width: 100%;
        img {
          width: 100%;
          height: 175px;
        }
      }
    }
  }
}

// responsive footer

@media screen and (max-width: 992px) {
  .footer {
    align-items: flex-start;
  }
}
